---
import Main from '../layouts/MainLayout.astro'

---


<html title="About Me">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <Main title="About Me">
    <h1>About Me</h1>
  </Main>
</html>
