---
import Card from "./Card.astro";
import type {Props as CardProp} from "./Card.astro";
type Props = {
    cards: CardProp[];

};

const {cards} = Astro.props;
---

<div class="cards">
    {cards.map((card) => <Card {...card}/>)}
</div>

<style>
    .cards {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    @media screen and (min-width: 768px) {
        .cards {
            flex-direction: row;
        }
    }
</style>